@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier Prime', monospace;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
} 