---
import Layout from '../layouts/Layout.astro';
import AppWrapper from '../components/AppWrapper';
---

<Layout title="Info - KPRKR">
  <AppWrapper client:load>
    <main class="ml-64 mr-64 p-8">
      <div class="max-w-2xl">
        <h1 class="text-2xl mb-8">Info</h1>
        <!-- Add your info content here -->
      </div>
    </main>
  </AppWrapper>
</Layout> 