---
import Layout from '../layouts/Layout.astro';
import AppWrapper from '../components/AppWrapper';
import MomentsWrapper from '../components/MomentsWrapper';
import { readFileSync } from 'fs';
import path from 'path';

const IMAGES_FILE = path.join(process.cwd(), 'src/data/images.json');
const images = JSON.parse(readFileSync(IMAGES_FILE, 'utf-8'));
---

<Layout title="Moments - KPRKR">
  <AppWrapper client:load>
    <main class="ml-64 mr-64 p-8">
      <div class="max-w-2xl mx-auto">
        <h1 class="text-2xl mb-4">Moments</h1>
        <p class="mb-12 opacity-50">
          Just my feed of random moments. Most photos taken from my Pixel 9 Pro or my Ricoh GR III HDF.
        </p>
        <MomentsWrapper images={images} client:load />
      </div>
    </main>
  </AppWrapper>
</Layout> 