---
// No props or imports needed
---

<nav class="fixed top-0 left-0 h-screen w-64 border-r border-gray-200 p-4">
  <ul class="space-y-2">
    <li>
      <a href="/" class="block p-2 hover:bg-gray-100 rounded">Home</a>
    </li>
    <li>
      <a href="/work/" class="block p-2 hover:bg-gray-100 rounded">Work</a>
    </li>
    <li>
      <a href="/info/" class="block p-2 hover:bg-gray-100 rounded">Info</a>
    </li>
    <li>
      <a href="/moments/" class="block p-2 hover:bg-gray-100 rounded">Moments</a>
    </li>
  </ul>
</nav> 