---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brett Pierce</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet" />
	</head>
	<body>
		<div id="app" class="min-h-screen">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--text-color: #000000;
		--bg-gradient: linear-gradient(145deg, #cbd5e1 0%, #ffffff 100%);
	}

	:root.dark {
		--text-color: #ffffff;
		--bg-gradient: linear-gradient(145deg, #050824 0%, #000000 100%);
	}

	body {
		margin: 0;
		color: var(--text-color);
		background: var(--bg-gradient);
		transition: color 0.2s, background 0.2s;
	}

	body :global(.dark) {
		background: var(--bg-gradient);
		min-height: 100vh;
	}
</style>
